body {
    font-family: 'Josefin Sans', sans-serif; 
    background-color: #F7F1DF

}
.product-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.product-name {
    font-weight: bold;
}
.product-price {
    font-style: italic;
}

.product-item {
    border: 2px solid #c6d7b9;
    padding: 10px; 
    margin: 0 auto 10px; 
    max-width: 700px; 
    width: 100%; 
    border-radius: 10px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
}

h3 {
    font-weight: normal;
}